<mat-card class="product-card" *ngIf="product">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>{{ typeIcon }}</mat-icon>
    </div>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>R {{ product.price }}</mat-card-subtitle>
  </mat-card-header>
  <div class="product-image-container">
    <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
  </div>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" routerLink="/product/{{ product.cmsId }}">
      <span>VIEW DETAILS</span>
    </button>
    <button mat-raised-button color="primary">
      <span>ADD TO CART</span>
    </button>
  </mat-card-actions>
</mat-card>
